


<div class="cover mb-4 d-flex align-items-center justify-content-center">
  <div class="text-center text-white">
    <h1>Save any kind of movies</h1>
    <h3 class="typed-js" data-controller="typed-js"></h3>
  </div>
</div>

<div class="container list-grid">
  <div class="row">
    <h1>
      <%= link_to "Create a movie list", new_list_path, class: "btn btn-secondary"%>
    </h1>
  </div>

  <div class="text-center">
    <ul>
      <% @lists.each do |list| %>
        <li> <%= link_to list.name, list_path(list) %> <%= link_to "remove", list_path(list), method: :delete %></li>
      <% end %>
    </ul>
  </div>
</div>
