


<div class="cover mb-4 d-flex align-items-center justify-content-center">
  <div class="text-center text-white">
    <h1>Save any kind of movies</h1>
    <h3 class="typed-js" data-controller="typed-js"></h3>
  </div>
</div>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>You finally can save your <strong>favorite movies</strong> </h1>
    <p>Have your </p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>


<div class="container list-grid">
  <div class="row">
    <h1>
      <%= link_to "Create a movie list", new_list_path, class: "btn btn-secondary"%>
    </h1>
  </div>

  <div class="text-center">
    <ul>
      <% @lists.each do |list| %>
        <li> <%= link_to list.name, list_path(list) %> <%= link_to "remove", list_path(list), method: :delete %></li>
      <% end %>
    </ul>
  </div>
</div>
