<h1>List#show</h1>
<p>Find me in app/views/list/show.html.erb</p>

<h2> <%= @list.name %></h2>



<ul>
  <% @list.movies.each do |movie| %>
    <li> <%= bookmark = Bookmark.find_by(list: @list, movie: movie)%></li>
  <% end %>
</ul>
