// Place all the styles related to the list controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.cover {
  background-color: rgb(67, 64, 64);
  margin-top: 100px;

  }
.list-grid {
  background-color: rgb(202, 175, 175);
  border-color: black;
  border-style: dotted;
  }
